@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #698191;
  border-radius: 100vh;
  border: 1px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #86aac2;
}

.scrollbar-dark::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.scrollbar-dark::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #606978;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: #698191;
  border-radius: 100vh;
}

.scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: #86aac2;
}
